<div class="d-flex justify-content-center">
  <h3><%= @user.name %></h3>
  <h5><%= @user.body %></h5>
  <%= image_tag @user.get_profile_image(100,100) %>
  <button type="button" class="btn btn-outline-info">
   <% if @user == current_user %>
   <%= link_to "プロフィール編集", edit_user_path(@user) %>
   <% end %>
  </button>
</div>

<!-- ユーザーの投稿一覧 -->

<h3 class="d-flex justify-content-center">投稿一覧</h3>
<table class="table d-flex justify-content-center">

  <thead>
    <tr>
      <th scope="col">テーマ</th>
      <th scope="col">説明</th>
      <th scope="col">    </th>
      <th scope="col">    </th>
    </tr>
  </thead>
  <tbody>
   <% @ideas.each do |idea| %>
    <tr>
     <td><%= idea.title %></td>
     <td><%= idea.body %></td>
     <td>
       <%= link_to idea_path(idea.id) do %>
        <%= image_tag idea.get_image %>
       <% end %>
     </td>
     <td><%= link_to "#{idea.idea_comments.count} コメント", idea_path(idea.id) %></td>
    </tr>
   <% end %>
  </tbody>
</table>
